
@using OptikShop.WebUI.Areas.Admin.Models;
 
@model List<ContactListViewModel>





<div style="padding-top:75px">

    <table class="table table-striped">
        <thead>

            <tr>
                <th>ID</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Email</th>
                <th>Mesaj</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.Message</td>
                    <td>
                        <a asp-area="Admin" asp-controller="Contact" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Sil</a>
                    </td>
                </tr>
            }
                
            
        </tbody>
    </table>
</div>